
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
:root {
  --color1: #e39e1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tektur", sans-serif;
}
header, main, footer{
      transform: translateY(-56px);
}
header {
  max-width: 100%;
  min-height: 100svh;
  background-image: url("../img/bg-hero-section.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.title-logo{
  color: var(--color1);
  display: contents;
}
header p span {
  color: var(--color1);
  display: contents;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-id {
  position: -webkit-sticky;
  top: 0;
  background-color: #252525;;
}
.active{
background-color: #b57705;
border-radius: 10px;
transform: scaleX(50px);
width: 99%;
margin: 0 auto;
top: 5px;
-webkit-box-shadow: 4px 4px 10px 2px gray;
-moz-box-shadow: 4px 4px 10px 2px gray;
box-shadow: 4px 4px 10px 2px gray;
}
section {
  padding-top: 100px;
  padding-bottom: 30px;
}
main {
  background-image: url("../img/bg-main.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.logo {
  color: aliceblue;
}

.scroll-icon {
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 5%;
  animation: circle 1s ease-in-out infinite alternate;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: aliceblue;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
.freepic a {
  font-size: 15px;
  color: rgb(112, 112, 112);
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}



/* main */

.btn-body {
  border: none;
  background-color: var(--color1);;
  border-radius: 10px;
  animation: neon 2s infinite, animate_grow 2s infinite;
}
@keyframes neon {
  0% {
    box-shadow: 0 0 0px var(--color1);
  }
  50% {
    box-shadow: 0 0 50px var(--color1);
  }
  100% {
    box-shadow: 0 0 0px var(--color1);
  }
}
@keyframes animate_grow {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.btn-body:hover {
  box-shadow: 0 0 10px #ff0068, 0 0 40px #ff0068, 0 0 80px #ff0068;
  background-color: black;
  animation-play-state: paused;
}
.card {
  /* box-shadow: 12px 12px 2px 1px #440079; */
  --bs-border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.85);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
footer {
  background-color: black;
}
/* модальное окно */
.modal-id {
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(251, 250, 250, 0.85);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.85);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.btn-modal {
  background-color: #440079;
  color: aliceblue;
}
.btn-modal:hover {
  border: 1px solid #440079;
}
/* модальное окно - конец  */

@media (max-width: 991px) {
  .ul-navdar {
    align-items: center;
  }
  .block-btn-navbar {
    justify-content: center;
  }
  .btn-body {
    margin-bottom: 10px;
  }
}
/* footer-start */
.single-content {
  text-align: center;
  padding: 115px 0;
}
.single-box p {
  color: #fff;
  line-height: 1.9;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 2.5;
  font-weight: 100;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 18px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .single-box {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-box {
    margin-bottom: 50px;
  }
}
/* footer-end */
